In [6]:
import pandas as pd
df = pd.read_csv("../data_clean/data_merged.csv")

pivot_sensor = pd.pivot_table(
    df,
    values="value",
    index="sensor_type",
    columns="location",
    aggfunc="mean"
)

pivot_sensor

location        Khu  A      Khu A     Line 1      Line1  khu a
sensor_type
Current            NaN        NaN        NaN  45.000000    NaN
Temperature        NaN        NaN        NaN  33.253333    NaN
Vibration    44.863158  42.466667  50.193519  38.463636  49.27

In [7]:
pivot_downtime = pd.pivot_table(
    df,
    values="downtime_hours",
    index="machine_id",
    columns="issue_type",
    aggfunc="sum"
)

pivot_downtime

issue_type  Electrical  Overheat  Vibration
machine_id
MC01              37.5      37.5        NaN
MC02              34.5     126.5        NaN
MC03              27.5      22.0        NaN
MC04             172.0      64.5      172.0
MC05             120.0      72.0      264.0

In [8]:
stacked = pivot_downtime.stack()
stacked

machine_id  issue_type
MC01        Electrical     37.5
            Overheat       37.5
MC02        Electrical     34.5
            Overheat      126.5
MC03        Electrical     27.5
            Overheat       22.0
MC04        Electrical    172.0
            Overheat       64.5
            Vibration     172.0
MC05        Electrical    120.0
            Overheat       72.0
            Vibration     264.0
dtype: float64

In [9]:
unstacked = stacked.unstack()
unstacked

issue_type  Electrical  Overheat  Vibration
machine_id
MC01              37.5      37.5        NaN
MC02              34.5     126.5        NaN
MC03              27.5      22.0        NaN
MC04             172.0      64.5      172.0
MC05             120.0      72.0      264.0