In [1]:
import pandas as pd

sensor_info = pd.read_csv("../data_clean/sensor_info_clean.csv")
sensor_readings = pd.read_csv("../data_clean/sensor_readings_clean.csv")
maintenance_log = pd.read_csv("../data_clean/maintenance_log_clean.csv")

In [2]:
sensor_info["sensor_type"].value_counts()

sensor_type
Vibration      7
Temperature    2
Current        1
Name: count, dtype: int64

In [3]:
abnormal_readings = sensor_readings[
    sensor_readings["value"].isna() | sensor_readings["unit"].isna()
]

abnormal_readings.head()

   sensor_id            timestamp  value  unit
0      SEN08  2024-01-08 12:23:00    NaN    °C
5      SEN09  2024-01-09 07:00:00    NaN   Amp
8      SEN10                  NaN    NaN  degC
16     SEN07  2024-01-09 05:24:00    NaN  degC
18     SEN02  2024-01-01 13:10:00    NaN  mm/s

In [4]:
maintenance_log["machine_id"].value_counts()

machine_id
MC01    17
MC05    12
MC02    11
MC04    10
MC03    10
Name: count, dtype: int64

In [5]:
sensor_readings.groupby("sensor_id")["value"].mean()

sensor_id
SEN01    45.000000
SEN02    33.085714
SEN03    51.850000
SEN04    38.463636
SEN05    46.690000
SEN06    33.400000
SEN07    51.670000
SEN08    44.863158
SEN09    42.466667
SEN10    49.325000
Name: value, dtype: float64

In [6]:
maintenance_log.groupby("machine_id").size().sort_values(ascending=False)

machine_id
MC01    17
MC05    12
MC02    11
MC03    10
MC04    10
dtype: int64